@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.content2{
    height: 80vh;
    margin-top: 50px;
}
.content2 > .event-list{
    height: 100%;
}
.content2 .event-menu{
    height: 80px;
    background-color: #fff;
    margin: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.content2 .button{
    width: calc(100% / 4);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    background-color: blanchedalmond;
}
.content2 .event-viewport{
    height: 80%;
    background-color: #fff;
    margin: 0 5%;
}
.content2 .button{
    cursor: pointer;
}
.button.active{
    background-color: gold;
}
.content2 .swiper{
    position: relative;
}
.content2 img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    justify-self: center;
}

.content2 [class*=swiper-custom]{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    border-radius: 6px;
    transform: translateY(-50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    font-size: 24px;
    background-color: #0003;
    color: #fffa;
    cursor: pointer;
}
.content2 [class*=swiper-custom]:hover{
    background-color: #000a;
    color: #fff;
}
.content2 .swiper-custom-prev{
    left: 0;
}
.content2 .swiper-custom-next{
    right: 0;
}
.content2 .swiper .swiper-wrapper{
    align-items: center;
}
.content2 .swiper .swiper-slide{
    height: 80%;
    /* border: 1px solid #000; */
}
.content2 .swiper .swiper-pagination{
    font-size: 18px;
    font-family: "Secular One", serif;
    text-align: end;
    width: 95%;
    margin: 0 auto;
}