@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
.content3{
    padding: 50px;
}
.content3 .recommendation{
    /* background-color: #aaa; */
}
.content3 .menu-item-type{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}
.content3 .menu-item-type .button{
    /* border: 1px solid #000; */
    background-color: #eeea;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    height: 50px;
    text-align: center;
    align-content: center;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.content3 .menu-item-type .button.active{
    background-color: gold;
    font-weight: 600;
}
.content3 .recommendation-item{
    width: 300px;
    background-color: #fff;
    padding: 13px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 2px 2px 7px #000a;
}
.content3 .recommendation-item img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
.content3 .recommendation-item .price{
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: line-through;
    color: grey;
}
.content3 .recommendation-item .discount{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}
.content3 .recommendation-item .discount h3:nth-child(1){
    color: red;
}
.content3 .recommendation-item .rate{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
}
.content3 .recommendation-item .button{
    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 18px;
    color: red;
    cursor: pointer;
}
.content3 .recommendation-view{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}
.content3 .recommendation-item{
    cursor: pointer;
}

@media (max-width: 1700px){
    .content3{
        width: 80%;
        margin: 0 auto;
    }
    .content3 .recommendation-view{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1100px){
    .content3 .recommendation-view{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 750px){
    .content3 .recommendation-view{
        grid-template-columns: repeat(1, 1fr);
    }
}